<footer>
    <section class="end">
        <article>
            <p><a href="/"><img width="75%" src="/img/logoSecundario.jpg" alt="Logo"></a></p>
            <br>
            
        </article>
        <article>
            <p><a href="#about" value="about">| Sobre Nosotros |</a></p>
            <p><a href="#products" value=""> | Productos          |</a></p>
            <p><a href="#map" value="adress"> | Encontranos en     |</a></p>
        </article>
        <article>
            <p>with ❤️ by Me</p>

        </article>

    </section>


</footer>
