
<header>
<article class="upper">

    <section class="logo">
    
        <a href="/"><img width="100%" src="/img/logoSecundario.jpg" alt="Logo"></a>
    
    </section>
    
    <section class="search">
    
        <form action="" method="get" class="search-bar">
            
                <p><input style="width: -webkit-fill-available" type="text" placeholder="Buscar Productos..." id="search"></p>
    
                <button  id="search" type="submit"><i id="search" with="20px" class="fa-solid fa-magnifying-glass"></i></button>
           
        </form>
    
    </section>
    
    <section class="inn">
    
        <a style=" text-decoration-line: none;" href="/login"><i class="fa-solid fa-user"></i>
            Login</a>
    
        <a style=" text-decoration-line: none;" href="/cart"><i class="fa-solid fa-cart-shopping"></i>
            Carrito</a>
    
    </section>
    
    </article>

</header>
