<nav>
    <section class="search">
    
        <form action="" method="get" class="search-bar">
            
                <p class="busqueda">
                    <input style="width: -webkit-fill-available" type="text" placeholder="Buscar Productos..." id="search">
                </p>
                
                <p>
                    <button  id="search" type="submit"><i id="search" with="20px" class="fa-solid fa-magnifying-glass"></i></button>
                </p>
           
        </form>
    
    </section>
</nav>