* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Aboreto', cursive;
}


body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */

  background-color: #42bdfa;
}

.feoXlb {
  /* display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 575px; */
  background: linear-gradient(-135deg, rgb(0, 255, 153) 0%, rgb(153, 51, 255) 100%);
}

.bienvenida{
      margin: auto;
      text-align: center;
      padding: 5px 2px 5px 2px;
      color: black;
}

header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #303030;
}

.banner{
  width: 100%;
  height: 230px;
}

/* carrouselle */

.Containers {
  display: none;
}

.Containers img {
  width: 90%;
  height: 200px;
  position: relative;
  left: 5%;
  padding-top: 30px;
  border-radius: 20px;
  z-index: -1;
  object-fit: cover;
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 18%;
  margin: 0 5%;
  width: auto;
  margin-top: -23px;
  padding: 15px;
  color: var(--color-rojo);
  background-color: var(--color-azul);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 5px;
  user-select: none;
}

.Back:hover, .forward:hover {
  background-color: var(--color-negro);
}

.about{
  margin: auto;
  background-image: url("/img/16.jpeg");
  background-size: cover;
  background-position: center;
  margin-top:-72px;
  
}

.uss{
  backdrop-filter:blur(3px);
}

.uss h1, .uss h6, .uss h5{
  text-align: center;
}

.upper{
  display: flex;
  flex-direction: raw;
  margin: auto;
  border: #30d662 solid 2px;
}

.logo {
  width: 12.5%;
  padding: 5px;
  border-right: solid black 1.5px;
}

.search{
  margin: auto;
  width: 30%;   

}

.search-bar{
  text-align: center;
}

.inn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  font-size: 15px;
  text-decoration-line: none;
}

.icon{
  font-size: 2rem;
  
}

/* .section-categories{
 
} */



.categories{
  /* position: absolute; */
  display: flex;
      flex-direction: column;
      border: solid black 2px;
      padding: 15px 0px;
      justify-content: space-between;
      text-align: left;
      margin: auto;
      width: 50%;
      font-size: 20px;
      list-style: none;
      min-width: 100px;
      border-radius:5px;
      border-style:hidden;
     
      
      
      
}


/* .option2 ul{
  display: none;
}

.categories :hover .products{
  display: block;
}

.products:hover . {
  display: block;
} */


/* .products:hover :hover .fluid, .products:hover :hover .hidro{
  display: block;
} */

/* .products:hover :hover .fluid */

/* .pisci ul:hover :hover .hidro{
  display: block;
}

.products, .products .products-sections{
  display: none;
}  */

li {
  list-style: none;
}

.categories li, .categories li a {
  text-decoration: none;
  color: gray;
  
}

.categories i {
  color: black;
  font-size: 28px;
}

/* .categories:hover .products{
  
    display: block;
    transition-delay: 8s;
   

} */

.categories .option2{
  display: flex;
  flex-direction: column;
}

/* .products:hover .pisci, .hidro{
  display: block;
}

.products, .products .products-sections{
      display: none;
} */

li .title:hover{
  /* background-color: wheat; */
  border-radius: 3px;
}


.products {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.products-sections{
  flex-direction: column;
  
}

.products li ul:hover li a{
  background-color: #b4d674;
  color: white;
  
}

.products-sections li:hover{
  border-radius: 1px ;
  color: greenyellow;
}

/* .products .title {
  /* border: black solid 1px; */
 */


a {
  color: #00B7FF;
}
/* //productos destacados */
.productosDestacados{
  margin: auto;
  text-align: center;
  width: 100%;
}

.sectionProductosDestacados{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: auto;
  width: 50%;

}

.sectionProductosDestacados :hover {
  box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
-webkit-box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
}

footer {
  margin: auto;
  background-image: url(/img/nos.jfif);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.categories .option2{
  display: none;
}

.categories:hover .option2{
  display: block;
}

.option2:hover :hover .products{
  display: block;
}

.list{
  position: absolute;
  left: 0%;
  top: 390px;
}
/* modificar el top en todos los mq para que termine bien */

.option2{
  position: absolute;
display:flex ;
text-align: left;
flex-direction: row;
justify-content: space-between;
/* margin-left: 16.1%; */
background-color:beige;
left:0%;
top:424px;
}

.lower-icons{
  display: flex;
  flex-direction: row;

}

.credit, .gift, .shield{
  margin: auto;
  text-align: center;
  font-size: 2rem;
  /* border-left: solid grey;
  border-right: solid grey; */
  padding: 15px;
}


.footerIcons{
  margin: auto;
  color: #007bff;
}

.map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
  border-radius: 3px;
}

.adress{
  margin: 10px;
  border-radius: 5px;
}

.description{
  font-size: 18px;
  display: block;
  
}

.description h3{
  color: black;
  border: solid whitesmoke;
  margin-top: 10px;
}

.description p{
  color: #007bff;
 
}

.redirections p {
  border-radius: 2px;
  background-color: rgb(184, 194, 207);
  text-align: center;
}

.end{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:solid 1.5px;
  align-items: center;
  backdrop-filter:blur(8px);
}