* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #42bdfa;
}

.bienvenida{
      margin: auto;
      text-align: center;
      padding: 5px 2px 5px 2px;
      color: black;
}

header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #303030;
}

.banner{
  width: 100%;
  height: 230px;
}

.about{
  margin: auto;
  background-image: url("/img/16.jpeg");
  background-size: cover;
  background-position: center;
  margin-top:-72px;
  
}

.uss{
  backdrop-filter:blur(3px);
}

.uss h1, .uss h6, .uss h5{
  text-align: center;
}

.upper{
  display: flex;
  flex-direction: raw;
  margin: auto;
  border: #30d662 solid 2px;
}

.logo {
  width: 12.5%;
  padding: 5px;
  border-right: solid black 1.5px;
}

.search{
  margin: auto;
  width: 30%;   

}

.search-bar{
  text-align: center;
}

.inn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  font-size: 15px;
  text-decoration-line: none;
}

.icon{
  font-size: 2rem;
  
}

.section-categories{
  
}

.categories{
  /* position: absolute; */
  display: flex;
      flex-direction: column;
      border: solid black 2px;
      padding: 15px 0px;
      justify-content: space-between;
      text-align: center;
      margin: auto;
      width: 50%;
      font-size: 20px;
      list-style: none;
      min-width: 100px;
      border-radius:5px;
      border-style:hidden;
      
      
      
}

li {
  list-style: none;
}

.categories li, .categories li a {
  text-decoration: none;
  color: gray;
  deco
}

.categories i {
  color: black;
  font-size: 28px;
}

.categories:hover .products{
  
    display: block;
    transition-delay: 8s;
   

}

.products:hover .pisci, .hidro{
  display: block;
}

.products:hover :hover .hidro, .products:hover :hover .fluid{
  display: block;
}

.products, .products .products-sections{
      display: none;
}

li .title:hover{
  /* background-color: wheat; */
  border-radius: 3px;
}


.products {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.products-sections{
  flex-direction: column;
  
}

.products li ul:hover li a{
  background-color: #b4d674;
  color: white;
  
}

.products-sections li:hover{
  border-radius: 1px ;
  color: greenyellow;
}

.products .title{
  /* border: black solid 1px; */
}


a {
  color: #00B7FF;
}
/* //productos destacados */
.productosDestacados{
  margin: auto;
  text-align: center;
}

.sectionProductosDestacados{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;

}

.sectionProductosDestacados :hover {
  box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
-webkit-box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(143,131,131,0.75);
}

footer {
  margin: auto;
  background-image: url(/img/nos.jfif);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.option2{
display:flex ;
flex-direction: row;
justify-content: space-evenly;
margin-left: 16.1%;
}

.lower-icons{
  display: flex;
  flex-direction: row;

}

.credit, .gift, .shield{
  margin: auto;
  text-align: center;
  font-size: 2rem;
  /* border-left: solid grey;
  border-right: solid grey; */
  padding: 15px;
}


.footerIcons{
  margin: auto;
  color: #007bff;
}

.map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
  border-radius: 3px;
}

.adress{
  margin: 10px;
  border-radius: 5px;
}

.description{
  font-size: 18px;
  display: block;
  
}

.description h3{
  color: black;
  border: solid whitesmoke;
  margin-top: 10px;
}

.description p{
  color: #007bff;
  text-transform: ;
}

.redirections p {
  border-radius: 2px;
  background-color: rgb(184, 194, 207);
  text-align: center;
}

.end{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:solid 1.5px;
  align-items: center;
  backdrop-filter:blur(8px);
}